<main>
  <h1>Sign up</h1><br><br>
  <div>
      <% if @errors %>
        <% @errors.each do |error| %>
          <ul>
            <li><%= error %></li>
          </ul>
        <% end %>
      <% end %>
  </div>
  <form id="new_user_form" method="post" action="/users/new">
    <label for="input">First Name: </label>
    <input name="user[first_name]" type="text">
    <br>
    
    <label for="input">Last Name: </label>
    <input name="user[last_name]" type="text">
    <br>

    <label for="input">Email: </label>
    <input name="user[email]" type="text">
    <br>

    <label for="input">Password: </label>
    <input class='user-signup-input' type="password" name="user[password]">
    <br>

    <input type="submit" value="Sign Up" class="button">
  </form>
</main>

